body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    height: 4em;
    width: 4em;
    margin: 1em;
    transition: 1s;
}

.box1 {
    background-color: antiquewhite;
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 5em solid rgb(99, 196, 39);
}

.box2 {
    background-color: antiquewhite;
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 5em solid rgb(196, 39, 39);
}

.box3 {
    background-color: antiquewhite;
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 5em solid rgb(39, 52, 196);
}

.box4 {
    background-color: antiquewhite;
    width: 0;
    height: 0;
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 5em solid rgb(233, 47, 249);
}

.boxTransition:hover {
    transition: 1s;
    border-radius: 50%;

}